.DS_Store
target
/.settings
/.classpath
/.project
.settings
.classpath
.project
.idea
*.iml
/.run
/logs/
/venv/
/contrib/docker-compose-example-elasticsearch/config/idx/_status.json
/contrib/docker-compose-example-elasticsearch/config/_default/
/contrib/docker-compose-example-elasticsearch/logs/
/contrib/docker-compose-example-workplace/config/idx/_status.json
/contrib/docker-compose-example-workplace/config/_default/
/contrib/docker-compose-example-workplace/logs/
contrib/docker-compose-example-opensearch/logs/fscrawler-2024-04-07-7.log.gz
*.gz
*.log
